.container {
  display: flex;
  align-items: flex-start;
  margin-left: 0;
  padding-left: 0;
}

h1 {
  font-family: 'Staatliches', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 38px;
  margin: 0;
}

h4 {
  font-family: 'Dosis ExtraLight', serif;
  color: white;
}


