<!--
<template-driven-form></template-driven-form>
<hr/>
<reactive-form></reactive-form>
<players-demo></players-demo>
<reactive-multiply-counter-form></reactive-multiply-counter-form>
-->
<mat-toolbar color="primary">Lotr app</mat-toolbar>
<lotr-app></lotr-app>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h1 class="navbar-brand" href="#">Lord of the rings
    <h4>Character chooser</h4>
  </h1>
</nav>

<div class="container">
</div>
<button routerLink="custom-form-control">Custom Form control</button>
<button routerLink="players-chooser">Players chooser</button>
<button routerLink="update-on">Update on</button>
<router-outlet></router-outlet>
-->
