:host {
  width: 400px;
}
img {
  height: 100%;
  width: 400px;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 50%;
  flex-grow: 1;
}

button:last-child {
  margin-right: 0;
  padding-right: 8px;
  padding-left: 0;
}
